.Modal {
    position: absolute;
    top: 20%;
    right: 3%;
    width: 960px;
    height: 470px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 0 auto;
    overflow-y: scroll;
}
  
.Modal-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px;
    background: #f5f5f5;
    border-radius: 10px;
}
.Modal-footer{
    display: grid;
    justify-content: flex-end;
    padding: 40px;
    font-weight: 600;
}
.Modal-item {
    display: grid;
    grid-template-columns: 9fr 1fr 1fr 1fr ;
    align-items: center;
    border-top: 1px dotted grey;
    padding: 20px 10px;
}
